---
---

@import "{{ site.theme }}";

#resume {
    width: inherit;
    height: 650px;
}

.social-media img {
    width: 32px;
    height: 32px;
}

@media only screen and (max-device-width: 768px){
    #resume {
        display: none;
    }
}