<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>

        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>Does it smell in here or is that just me?</p>
        
        <div class="social-media">
          <a href="{{ "/" | absolute_url }}" title="Back to My Homepage!">
            <img src="/assets/images/home.png" onmouseover="this.src='/assets/images/home-color.png';" onmouseout="this.src='/assets/images/home.png';">
          </a>
          <a href="mailto:huydngo@outlook.com" target="_blank" title="Send Me an Email!">
            <img src="/assets/images/email.png" onmouseover="this.src='/assets/images/email-color.png';" onmouseout="this.src='/assets/images/email.png';">
          </a>
          <a href="{{ site.github.owner_url }}" target="_blank" title="Check Out My GitHub!">
            <img src="/assets/images/github.png" onmouseover="this.src='/assets/images/github-color.png';" onmouseout="this.src='/assets/images/github.png';">
          </a>
          <a href="https://www.linkedin.com/in/huydngo" target="_blank" title="Hit Me Up on LinkedIn!">
            <img src="/assets/images/linkedin.png" onmouseover="this.src='/assets/images/linkedin-color.png';" onmouseout="this.src='/assets/images/linkedin.png';">
          </a>
        </div>

      </header>
      <section>

      <div class="nav-bar">
        <a href="/">Home</a> | <a href="/about">About</a> | <a href="/resume">Resume</a> | <a href="/projects">Projects</a>
      </div>
      
      {{ content }}

      </section>
      <footer>
        <p>
          <small><a href="https://www.flaticon.com/free-icon/laughing_1316873" target="_blank">Favicon by justicon</a></small><br>
          <small><a href="https://www.flaticon.com/authors/freepik" target="_blank">Social icons by Freepik</a></small><br>
          <small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist" target="_blank">orderedlist</a></small>
        </p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
